@import '../../../styles/typography.scss';

.Amount {
    font-weight: $numeric-weight;
    font-size: $base-font-size;
}

.deposit {
    color: $positive-value;
}

.withdrawal {
    color: $negative-value;
}