
.FrameImg {
    background-image: url('src/assets/images/profileBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    line-height: $base-line-height;
    font-family: $font-family;
    padding: 2px;

    h1,h2,h3,h4,h5,h6 {
        font-weight: 700;
        text-transform: uppercase;
    }

    * {
        color: #ffffff;
    }
}