.profile-overview {
   color: white;
   height: 440px;
   width: 800px;
   padding: 16px 8px;
   background-image: url(../../assets/images/profileBackground.png);
   background-size: cover;

   h2 {
    font-weight: bold;
   }

   .budget-section{
        width: 64% ;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        gap: 200px;

   }
}