
.transactionLine {
    padding: 9px 37px;
    color: white;

    td {
        padding: 9px 37px;
        text-align: center;
        vertical-align: middle;
    }

}

.secondarybackgroundColor {
    background-color: gray
}

.primarybackgroundColor {
    background-color: green
}