@import '../../../styles/typography.scss';

.AbbreviatedName {
    padding: 16px 12px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2em;
    border-radius: 50%;
    height: 61px;
    width: 61px;
}