
.CustomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 6px;
    border-radius: 7px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    z-index: 9999;
    border: none;
    outline: none;
}

.rowGap {
    gap: $gap-size-row-btn;
}

.columnGap {
    flex-direction: column;
    gap: $gap-size-column-btn;
}

.darkmode {
    color: $Primary-color;
}



