.layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
}

/* tablet */
@media (min-width: 768px) {
    .layout {
        grid-template-columns: 220px 1fr;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .layout {
        grid-template-columns: 260px 1fr;
    }
}

.content {}

.container {
    background-color: #142132;
    width: 100%;
    padding: 0 16px;
}