@import '../../../styles/typography.scss';

/* =====================================
   Component
   Base desktop: 704 x 369
   Foco: largura, altura e tipografia responsiva
===================================== */
.FrameImg {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 24px;

  /* Desktop */
 

  font-size: 24px;
  overflow: hidden;
  

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: $color-neutral-white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #142132ac; /* Sombra escura */
    z-index: 1; /* Coloca a sombra atrás do conteúdo */
  }

  * {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da sombra */
  }

  /* =====================================
     Tablet
     ~87.5%
  ===================================== */
  @media (max-width: $tablet) {
    width: 616px;
    height: 323px;
    font-size: 21px;
  }

  /* =====================================
     Mobile
     ~75%
  ===================================== */
  @media (max-width: $mobile) {
    width: 528px;
    height: 277px;
    font-size: 18px;
  }

  /* =====================================
     Small Mobile
     ~60%
  ===================================== */
  @media (max-width: $small-mobile) {
    width: 422px;
    height: 221px;
    font-size: 16px;
  }
}
