@import '../../../styles/typography.scss';

.input {
    width: 320px;
    height: 36px;
    border: none;
    border-radius: $radius-sm;
    padding: 0 $spacing-sm;
    background: $color-neutral-white;
    color: $color-primary-900;
    font-size: $caption-font-size-sm;



    &[aria-invalid="true"] {
        border: 2px solid #960101;
        border-radius: $radius-sm;
        padding: 0 $spacing-sm;
        color: #960101;

        &::placeholder {
            color: $negative-value;
        }
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

}

.input::placeholder {
    color: $color-neutral-gray-300;
}

.error {
    display: inline;
    position: absolute;
    width: 135px;
    color: #960101;
    transform: translate(100px,-20px);
    font-size: $caption-font-size-md;
    font-weight: $caption-weight-sm;
    text-align: left;

}

@media (max-width: 480px) {

    .input {
        width: 100%;
        
      
    }

    .error {
        bottom: 0px;
        left: 0px;
        transform: translate(100px,-40px);
        
        
    }



}

