@import '../../../styles/typography.scss';


.CustomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    padding: 8px 16px;
    border-radius: 7px;
    z-index: 9999;
    border: none;
    outline: none;
    background-color: $color-primary-600;
}

.columnGap {
    flex-direction: column;
}




