$base-font-size: 16px;
$base-line-height: 1.5;
$gap-size-row-btn: 10px;
$gap-size-column-btn: 20px;
$Primary-color: #091B32;
$Secondary-color: #142132;
$negative-value: #FD4E4E;
$positive-value: #44DE52;
$font-family: 'inter', sans-serif;